.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 12px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  background-image: url(../images/x-light.svg);
  border: none;
  background-color: transparent;
}

.modal__close-button:hover {
  background-image: url(../images/x-dark.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  font-size: 20px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__submit-botton {
  max-width: 156px;
  width: 100%;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 12px;
  }

  .modal__container {
    max-width: 300px;
  }
  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-botton {
    max-width: none;
  }
}
